<center> <h2 id="profile_header"> Your contributions in making the world a better place </h2> </center> 

<br>

<div id="progressbar">
    <span class="progress_widget">
          <p>Progress to Next Level:</p>

          <!-- Calculate Progress as a percentage -->
          <!-- levelRange is a public class method to return @@level_point -->
          <span id="progress_level"><%= (current_user.getProgress.current_value.to_f / current_user.getProgress.levelRange.to_f) * 100%>%  </span>
      </span>
      
      <span class="progress_widget">
      <p>  Current Level: </p>
      <!-- Using class method to return name -->
      <span id="progress_name"><%= Level.getLevel(current_user.getProgress.level_key)%></span>
      </span>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="panel panel-default">

    <div class="panel-body">
  
    <h3>The Points system</h3>
    <br>

     <h4><p>Want to take the lead and start a positive movement? We up for the challenge </p>
    <a href="http://www.souly4good.com/posts/new">Start a Challenge (1 Point + 1/2 point everytime someone else does your challenge)</a>
     </h4>

     <br>

     <h4><p>If you already do great things for people we'd love to hear from everyday heroes like you </p>
     <a href="http://www.souly4good.com/posts/new">Share a community or volunteering initiative (3 Points)</a>
     </h4>

     <br>

     <h4><p>Heard or read a nice news article </p>
     <a href="http://www.souly4good.com/posts/new">Share the good news (1 Point)</a>
     </h4>
     
     <br>

    <h4>Invite Your Friends (3 Points for each invitee)</h4>
     <a  class="btn btn-default" id="add_friend_btn">Add a friend</a>

     <a  class="btn btn-default" id="submit_friend_btn">Submit</a>

     <div id="friend_list"></div>

     <br>

     


 <div class="panel-footer">

     <h3>Your login information </h3>

      <div class="form-inputs">

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>

      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>

</div>



  <div class="panel-footer">

    <h3>Unhappy?</h3>

    <p>Send us an email so we can make it better at souly4good@gmail.com <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>



  </div>

