<style>
  .container-fluid{
    padding: 0;
  }
  #main_content {
    margin-top: -20px;
  }
</style>
<%= content_for :container_class do %>
  container-fluid
<% end %>

  <%= stylesheet_link_tag "sheild_all.min" %>

<div class="profile">
  <div id="Top" class="container-fluid">

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-bottom: 30px;">
      <div class="circle" style="background-image: url('<%= @user.avatar.url(:thumb) %>')"></div>
      <div class="col-xs-4 col-md-3 col-lg-3 step" style="position: absolute;top: 136px;left: 34px;">
        <div style="width: 190px; height: 190px; overflow: visible;">
          <div id="progress" class="col-xs-12 col-md-4 col-lg-4" style="width: 60px; height: 60px;">
          </div>
        </div>
      </div>
      <div data-toggle="tooltip" data-placement="bottom" title="<%= (current_user.voted_up_on?(@user))? 'You Liked Me' : 'Like Me' %>" class="" style="position: absolute;top: 138px;left: 170px;">
        <% if current_user.voted_up_on? @user %>
          <%= link_to "+ #{@user.votes_for.up.for_type(User).count}", user_like_path(@user), :class => "btn btn-primary", :method => :post %>
        <% else %>
          <%= link_to "+ #{@user.votes_for.up.for_type(User).count}", user_like_path(@user), :class => "btn btn-primary", :method => :post %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-bottom: 30px;">
      <div id="user_description">
        <p>
          <b><%= link_to @user.full_name, @user %></b>
        </p>
        <br/>
        <p><%= @user.overview %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-bottom: 10px;">
      <div id="medals">
        <p><b>Badges</b></p>
        <br/>
        <ul class="list list-inline">
          <% @user.user_badges.each do |user_badge| %>
            <li>
              <button type="button" class="btn btn-sm btn-primary">Badge <span class="badge"><%= user_badge.badge_id %></span></button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  <style>
    .sui-progressbar-circular{
      background-color: transparent;
      overflow: visible;
    }
    .sui-progressbar-text{
          top: 0px !important;
          left: -39px !important;
    }
  </style>
  <script type="text/javascript" data-turbolinks-eval=always>
    //initialization options for the progress bar
    var progress = $("#progress").shieldProgressBar({
      min: 0,
      max: 100,
      value: <%= (@user.getProgress.current_value.to_f / @user.getProgress.levelRange.to_f) * 100%>,
      layout: "circular",
      layoutOptions: {
        circular: {
          //borderColor: "#FF7900",
          width: 10,
          borderWidth: 2,
          color: "green",
          backgroundColor: "transparent"
        }
      },
      text: {
        enabled: true,
        template: '<%= image_tag "badges/#{@user.getProgress.level_key}.png?srand=#{Time.now.to_i}" %>'
      }
    }).swidget();

  </script>

</div>
<hr style="border: 1px solid #e5e5e6;" />
<br/>
<div class="container" style="margin-top: 40px;">


  <div id="post-legend">
    <a href="<%= user_path(@user, {:type=> 'external'}) %>" class="no-hover-style"><div class="icon external-t" data-toggle="tooltip" data-placement="bottom" title="News Articles"></div></a>
    <a href="<%= user_path(@user, {:type=> 'regular'}) %>" class="no-hover-style"><div class="icon user-t" data-toggle="tooltip" data-placement="bottom" title="Community and Volunteering Posts"></div></a>
    <a href="<%= user_path(@user, {:type=> 'challenge'}) %>" class="no-hover-style"><div class="icon challenge-t" data-toggle="tooltip" data-placement="bottom" title="Challenge Posts"></div></a>
  </div>

  <div class="ui cards" id="con">

    <%= render 'posts/post_list' %>

    <script>
      $(document).ready(function(){
        var _postmodel = new PostsModel();
        _postmodel.init();
      })
    </script>
  </div>

  <div class="hide">
    <%= paginate @posts %>
  </div>
</div>