<% @posts.each do |post| %>
  <% if post.external %>
    <div class="card card-<%= post.post_type %>">
      <div class="top-card-info">
        <div class="post-icon <%= post.post_type %>-post pull-left"></div>
        <div class="pull-right"><%= time_ago_in_words(post.created_at) %> ago</div>
      </div>
      <% if post.title.length < 300 %>
        <a class="image" href="<%= url_for(post) %>" target="_blank">
          <%= image_tag post.external_image %>
        </a>
      <% else %>
        <div class="content">
          <%= post.title %>
        </div>
      <% end %>
      <div class="content">
        <% if post.external_author_url %>
          <%= link_to post.external_author, post.external_author_url, target: "blank", class: "user" %><br />
          <% else %>
            <%= post.external_author %> <br />
          <% end %>
          <%= post.title %>
        </div>
        <div class="description">
          <div class="btn-group">
            <span>
              <a class="btn btn-default btn-sm"  target="_blank" href="<%= url_for(post) %>">Visit Post</a>
            </span>
            <%= render partial: "upvote", locals: {post: post} %>
            <span>
              <%= link_to "<i class=\"fa fa-flag\"></i>".html_safe, report_post_path(post), :class => "btn btn-default btn-sm", :style => "color: red;", :method => :post %>
            </span>
          </div>
        </div>
      </div>
    <% else %>
      <div class="card card-<%= post.post_type %>">
        <div class="top-card-info">
          <div class="post-icon <%= post.post_type %>-post pull-left"></div>
          <div class="pull-right"><%= time_ago_in_words(post.created_at) %> ago</div>
        </div>
        <% if post.title.length < 300 %>
          <a class="image" href="<%= url_for post %>" target="_blank">
            <%= image_tag post.image %>
          </a>
        <% else %>
          <div class="content">
            <%= post.title %>
          </div>
        <% end %>
        <div class="content">
          <!--TODO need to add user profile link -->
          <%= post.user.name %>
          <br />
          <%= post.title %>
        </div>
        <div class="description">
          <div class="btn-group">
            <span>
              <a class="btn btn-default btn-sm"  target="_blank" href="<%= url_for post_path(post) %>">Visit Post</a>
            </span>
            <% if post.post_type == Post::PTYPE[:challenge] %>
              <span>
                <%= link_to "Reply", reply_post_path(post), class: "btn btn-default btn-sm" %>
                </span>
              <% end %>
            <%= render partial: "upvote", locals: {post: post} %>
              <span>
                <%= link_to "<i class=\"fa fa-flag\"></i>".html_safe, report_post_path(post), :class => "btn btn-default btn-sm", :style => "color: red;", :method => :post %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>