<div class="alert alert-warning" role="alert"><b>Welcome to Souly4Good, the social hub centered on spreading joy and happiness. <a href="https://youtu.be/kdVhxj1H4eE">Click here to watch our demo</a> </b> <p>Feedback on how Souly4Good can make you happier are welcome. Send us an email on souly4good@gmail.com </p></div>
<div id="post-legend">
  <div class="icon external-t" data-toggle="tooltip" data-placement="bottom" title="News Articles"></div>
  <div class="icon user-t" data-toggle="tooltip" data-placement="bottom" title="Community and Volunteering Posts"></div>
  <div class="icon challenge-t" data-toggle="tooltip" data-placement="bottom" title="Challenge Posts"></div>
</div>

<% if false %>
          <div class="grid">
          <% @posts.each do |post| %>
            <% if post.external %>

              <div class="grid-item well link row clearfix">
                <h2>
                  <%= link_to post.title, post.url, target: "blank" %><br>
                  <%= image_tag post.external_image_url, width: "100%" %><br>
                </h2>

                <div class="btn-group">
                  <a class="btn btn-default btn-sm"  target="_blank" href="<%= post.url %>">Visit Post</a>
                  <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    Upvote
                    <%= post.get_upvotes.size %>
                  <% end %>
                </div>
              </div>

            <% else %>
              <div class="grid-item link row clearfix">
                <h2>
                  <%= link_to post.title, post %><br>
                  <%= image_tag post.image, width: "450" %><br>
                  <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> by <%= post.user.name %></small>
                </h2>

                <div class="btn-group">
                  <a class="btn btn-default btn-sm"  target="_blank" href="<%= post.url %>">Visit Post</a>
                  <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    Upvote
                    <%= post.get_upvotes.size %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>

          <script>
          $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: 300,
            gutter: 10
          });
          </script>
<% end %>

<div class="ui cards" id="con">

  <%= render 'post_list' %>

  <script>
  $(document).ready(function(){
    var _postmodel = new PostsModel();
    _postmodel.init();
  })
  </script>
</div>

<div class="hide">
  <%= paginate @posts %>
</div>